body {
    background-color: #2e3131;
    color: white;
}

div.jumbotron {
    background-color: #3e3d3d;
}

div.jumbotron > div.container {
    position: relative;
}

/* User Profile */

.user-box {
    display: flex;
    position: absolute;
    top: 2em;
    right: 0;
}

.user-image img {
    height: 64px;
    width: 64px;
    border: 3px solid white;
    border-radius: 24px;
    object-fit: cover;
}

.user-info {
    padding-left: 12px;
    line-height: 64px;
    font-size: 1.25em;
}

span.dip {
    display: inline-block;
    width: 5.5em;
    font-weight: bold;
}

span.dop {
    font-weight: bold;
    font-style: italic;
}

/* Search Form */

#searchForm {
    display: none;
    margin: 12px 0;
    text-align: center;
}

#searchBar {
    width: 24em;
}

#volumeGroup {
    position: relative;
    margin-left: 20px;
    width: 16em;
}

#volumeLabel {
    position: absolute;
    top: -1.9em;
    left: 46%;
    font-weight: bold;
    color: white;
}

/* Artist Profile */

.profile {
    display: flex;
    justify-content: center;
}

.profile-img {
    width: 192px;
    height: 192px;
    border: 3px solid white;
    border-radius: 64px;
    object-fit: cover;
}

.profile-info {
    margin-left: 24px;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.profile-name {
    font-size: 26px;
}

.profile-followers, .profile-genres, .profile-popularity {
    font-size: 18px;
}

.profile-genres li {
    text-align: left;
}

/* Album Display */

.album {
    display: flex;
    justify-content:center
}

.album-img {
    width: 192px;
    height: 192px;
    border: 3px solid white;
    border-radius: 64px;
    object-fit: cover;
}

.album-info {
    margin-left: 24px;
    text-align: left;
    display: flex;
    flex-direction:column
}

/* Gallery */

.gallery {
    text-align: center;
}

.track {
    width: 220px;
    height: 220px;
    margin: 10px;
    text-align: left;
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.track-img {
    width: 220px;
    height: 220px;
    border: 3px solid white;
    border-radius: 3px;
    object-fit: cover;
    position: absolute;
}

.track-text {
    background-color: black;
    color: white;
    opacity: 0.75;
    width: 214px;
    height: 40px;
    margin-left: 3px;
    text-align: center;
    position: absolute;
    padding: 10px;
    bottom: -7px;
    z-index: 3;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.track-play {
    position: absolute;
    width: 220px;
    height: 220px;
    z-index: 5;
}

.track-play-inner {
    position: absolute;
    padding-left: 19px;
    font-size: 25px;
    background-color: black;
    border-radius: 30px;
    width: 60px;
    height: 60px;
    color: white;
    padding-top: 13px;
    margin-left: 80px;
    margin-top: 80px;
    opacity: 0
}

.track-play-inner span[data-role=play] {
    padding-left: 2px;
}

.track-play:hover>.track-play-inner {
    opacity: 0.8;
    animation-name: fade-in;
    animation-duration: 0.25s;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.8
    }
}