<div class="user-box">
    <div class="user-image">
        <img src={{profilePic}} />
    </div>
    <div class="user-info">
        <div><span class="dip">Name:</span> <span class="dop">{{name}}</span></span></div>
        <div><span class="dip">Country:</span> <span class="dop">{{country}}</span></div>
        <div><span class="dip">Email:</span> <span class="dop">{{email}}</span></div>
        <div><span class="dip">Followers:</span> <span class="dop">{{followers}}</span></div>
    </div>
</div>